* {
	box-sizing:border-box;
}

body{
	margin:0;
	font-family: helvetica, sans-serif;
}

.menu{
	margin:0;
}

img{
	display: block;
}

.webwrapper{
	opacity: 0;
}

.mobilewrapper{
	opacity:1;
}

@media all and (min-width:500px)  {
	.webwrapper{
		grid-template-columns: 1fr 1fr;
		opacity:1;
	}
}

@media all and (min-width:500px)  {
	.mobilewrapper{
		grid-template-columns: 1fr 1fr;
		background-color: blue;
		opacity:0;
	}
}

.introduction{
	position:absolute;
	top:150px;
	left:360px;
}

.introduction p{
	position:relative;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.5);
	line-height:1.6;
	font-size:14px;
	font-weight:bold;
	color:white;
	width:515px;
	padding:30px;
}

.main__img{
	width:100%;
	height:100%;
	margin:0;
	z-index:-1;
}

.nav-bar{
	z-index: 2;
	width:400px;
	padding:10px;
	position:absolute;
	top:20px;	
	right:30px;
}

.nav-bar a {
	text-decoration: none;
	color:rgb(253,216,148);
	font-weight:bold;
	margin-left:20px;
	display:inline;
}

.logo{
	z-index: 999;
	object-position: center;
	position:absolute;
	top:5px;
	left:10px;
	width:15%;
}

.scrolldown{
	text-decoration: none;
	margin:0;
	position:absolute;
	bottom:30px;
	left:600px;
	transition: 
	height:100px,
	0.5s ease-in-out;
}

.scrolldown a{
	display: flex;
	flex-direction: column;
}

h5{
	color:white;
	font-weight:normal;
	margin:0;
}

.icon{
	width:40px;
	top:10px;
	margin: 0 auto;
}


.shackinterior{
	width:100%;
	position: relative;
	margin:0;
}

.forest{
	width:100%;
}

.main__characters{
	position:relative;
}

.dipper{
	width:150px;
	position:absolute;
	bottom:50px;
	right:50px;
}

.Mabel{
	width:130px;
	position:absolute;
	bottom:60px;
	right:200px;
}

.soos{
	width:240px;
	position:absolute;
	bottom:60px;
	right:400px;
}

.stan{
	width:450px;
	position:absolute;
	bottom:50px;
	right:550px;
}

.features__creatures{
	position:relative;
}

.waddles{
	width:100px;
	position:absolute;
	bottom:15%;
	right:390px;
}

.gnome{
	width:150px;
	position:absolute;
	bottom:10%;
	left:180px;
}

.bill{
	width:150px;
	position: absolute;
	top:80px;
	right:450px;
}

.timebaby{
	width:200px;
	position:absolute;
	bottom:12%;
	right:40px;
}

p{
	width:270px;
	font-size:12px;
	font-weight: normal;
	line-height: 1.2;
	color:white;
	position:absolute;
	top:40px;
	left:20px;
}

h4{
	color:white;
	position:absolute;
	top:10px;
	left:20px;
}

.popupbox{
	background-color:rgb(138,69,56);
	width:320px;
	height:200px;
	border-radius:10px;
}

.clickhere:hover{
	background:#eee;
}

.overlay{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0,0,0,0.7);
	transition:opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target{
	visibility: visible;
	opacity: 1;
}

.popupbox .close {
	position:absolute;
	top:20px;
	right:30px;
	transition:all 200ms;
}

.popup .close:hover {
	color:#eee;
}

.triangle-down{
	width:0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid rgb(138,69,56);
}

.triangle-right{
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 30px solid rgb(138,69,56);
	border-bottom: 30px solid transparent;
}

.dipperbio .popupbox{
	position:absolute;
	top:220px;
	right:80px;
}

.dipperbio .triangle-down{
	position:absolute;
	bottom:-30px;
	right:30px;
}


.mabelbio .popupbox{
	position:absolute;
	top:220px;
	right:110px;
}

.mabelbio .triangle-down{
	position:absolute;
	bottom:-30px;
	right:140px;

}

.soosbio .popupbox{
	position:absolute;
	top:80px;
	right:400px;
}

.soosbio .triangle-down{
	position:absolute;
	bottom:-30px;
	right:50px;
}

.stanbio .popupbox{
	position:absolute;
	top:80px;
	left:230px;
}

.stanbio .triangle-down{
	position:absolute;
	bottom:-30px;
	right:50px;
}

.waddlesbio .popupbox{
	position: absolute;
	bottom:20%;
	right:40%;
}

.waddlesbio .triangle-right{
	position:absolute;
	bottom:30px;
	right:-30px;
}

.gnomebio .popupbox{
	position:absolute;
	bottom:35%;
	left:50px;	
}

.gnomebio .triangle-down{
	position:absolute;
	bottom: -30px;
	right:100px;
}

.billbio .popupbox{
	position: absolute;
	top:10%;	
	left:26%;
}

.billbio .triangle-right{
	position: absolute;
	bottom:20%;
	left:100%;
}

.babybio .popupbox{
	position: absolute;
	bottom:52%;
	right:5%;
}

.babybio .triangle-down{
	position: absolute;
	top:100%;
	right:20%;
}


/*mobile css start here*/
.mobileimg{
	z-index: 0;
	width:100%;
	height:750px;
	margin:0;
	position:absolute;
	top:0;
}

.mobilenav{
	z-index:0;
	background-color:rgb(138,69,56);
	width:100%;
	height:100%;
	margin-top: 0;
	position:absolute;
	top:0;
	opacity: 0;
	transition:0.5s ease-in-out;
}

.mobilecat{
	position:absolute;
	top:100px;
	left:150px;
	text-align:center;
}

.mobilenav a{
	text-decoration: none;
	color:rgb(253,216,148);
	font-weight: bold;
	line-height: 2;
}

.clicked {
	z-index: 999;
	opacity: 1;
	height:800px;
	transition: 0.5s ease-in-out;
}

.burgerbutton{
	z-index: 999;
	width:30px;
	position:absolute;
	top:5px;
	right:10px;
}

.burmenu{
	width:30px;
}

.mobileintro{
	position:absolute;
	top:80px;
	left:50px;
}

.mobileintro p{
	text-align:center;
	background-color: rgba(0, 0, 0, 0.5);
	line-height:1.6;
	font-size:10px;
	font-weight:bold;
	color:white;
	width:250px;
	padding:30px;
}

.logomobile{
	position:absolute;
	top:0;
	width:100px;
	margin-top:5px;
}

/*end of mobile*/